@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('https://www.codebypete.com/libraries/Menlo-Regular.woff') format('woff');
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  background-color: dimgray;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  width: fit-content;
}

h2 {
  text-align: center;
  font-family: Menlo Regular;
  color: white;
}

h3 {
  color: cadetblue;
  text-shadow: 1px 1px black;
  margin: 0 10vw;
  
}

a,
a:link,
a:visited {
  color: lime;
  text-decoration: none;
}

#welcomeMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: space-evenly;
  transition: all 1s ease-in-out;
}

#container {
  margin: 0 auto;
  border: 5px solid lime;
  height: 70vh;
  width: 97vw;
  background-color: black;
  background-image: url('https://www.codebypete.com/pics/pharm2code_tilt.jpg');
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 5vmin 5vmin dimgray inset;
  color: silver;
}

#PacMan {
  position: absolute;
  max-width: 10vmin;
}

#ball {
  z-index: 5;
  position: absolute;
  left: 10rem;
  top: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
}

#scoreBoard {
  height: 2rem;
  width: fit-content;
  color: white;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#scoreNumber {
  padding-left: 0.5rem;
  font-weight: 900;
}

@media (orientation: landscape) {
  #container {
    position: absolute;
    width: 80vw;
    height: 80vh;
  }
  .buttonsLeft {
    position: absolute;
    left: 85vw;
    top: 15vh;
  }
  #scoreBoard {
    position: absolute;
    left: -1.5vw;
    top: 15vh;
  }
  .buttonsRight {
    position: absolute;
    top: 50vh;
    left: 84vw;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 27vw;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  @media (min-width: 1200px) {
    footer {
      left: 40vw;
    }
  }
}

.buttons {
  display: flex;
  height: 25vh;
  width: 100vw;
  margin: -0.5rem auto;
}

.buttonsLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.buttonsLeft>button {
  margin: 1rem;
}

.buttonsMidRow {
  display: flex;
  gap: 5rem;
}

.buttonsRight {
  margin: 1rem auto;
}

.buttonsRight>button {
  margin: 1rem 1rem;
}

button {
  font-size: 1rem;
  min-width: 2rem;
  min-height: 2rem;
  margin: -1rem;
  border: 1px solid lime;
  border-radius: 0.25rem;
  background-color: black;
  color: lime;
  transition: all 0.25s ease-out;
}

button:hover,.hover {
  background-color: lime;
  border: 1px solid white;
  color: white;
}

/* Shake animation */
#container.shake {
  animation: shake 0.5s linear 1;
}
@keyframes shake {
  10%,
  90% {
      transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
      transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
      transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
      transform: translate3d(4px, 0, 0);
  }
}

footer {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  color: white;
}

footer>a, footer>p {
  margin: auto 0;
}

footer>p>a>span {
  font-style: italic;
}
footer>p>a {
  text-decoration: none;
}

footer>p>a>img {
  animation: slowSpin 5s ease-in-out infinite;
  margin-bottom: -0.5rem;
}

@keyframes slowSpin {
  0% { 
      transform: scale(1); 
  }
  50% {
      transform: scale(-1, 1);
  }
  100% { 
      transform: scale(1); 
  }
}

.socialLogo {
  max-height: 1.5rem;
  transition: transform 0.5s ease-in-out;
  margin-bottom: -0.5rem;
}

.socialLogo:hover {
  transform: scale(-1, 1) scale(1);
}